.container {
	background-color: pink;
  	margin: auto;
  	padding: 30px;
  	width: 40%;
  	font-size: 2vw;
	color: white;
	overflow: auto;
}
span {
 width: 85%;
 float:left;
}

.right{
 width: 15%;
 float:right;
 color: red;
}

button {
	font-size: 1.4vw;
	color: white;
	background-color: green;
  	padding: 5px;
  	border-radius: 20%;
  	border-style: none; 
	margin-right: 7px 
}
.word {
	background-color: yellow;

}
.def {
	height: 70px;
	width:90%;
}
input {
	font-size: 1.4vw;

  	border-style: none; 
	width:80%;

}/